<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="email" type="email" placeholder=""></ion-input>
    <ion-icon name="person-circle-sharp" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contrasena <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="password" placeholder=""></ion-input>    
  </ion-item>
  <ion-item>
    <ion-label position="floating">Repetir Contrasena <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="password" placeholder=""></ion-input>    
  </ion-item>
  <ion-item>
 <ion-list>
   <ion-radio-group name="sexo" value="">
     <ion-list-header>
       <ion-label position="inline">Sexo</ion-label>
     </ion-list-header>
     <ion-item>
       <ion-label>Femenino</ion-label>
       <ion-radio value="Femenino" slot="start"></ion-radio>
     </ion-item>
     <ion-item>
       <ion-label>Masculino</ion-label>
       <ion-radio value="Masculino" slot="start"></ion-radio>
     </ion-item>
   </ion-radio-group>
 </ion-list>
  </ion-item>
  <ion-button (click)="guardar()" type="submit" size="default" fill="solid" shape="round">
    Guardar
  </ion-button>
</ion-content>
